*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
test.log
lib/http_streaming_client/credentials/adobe.rb
lib/http_streaming_client/credentials/twitter.rb
