module HttpStreamingClient
  module Credentials
    module Adobe
      VERBOSE=true
      USERNAME=""
      PASSWORD=""
      CLIENTID=""
      CLIENTSECRET=""
      TOKENAPIHOST="https://api.omniture.com/token"
      COMPRESSSTREAM=true
      STREAMURL=""
    end
  end
end
