module HttpStreamingClient
  module Credentials
    module Twitter
      OAUTH_CONSUMER_KEY = ""
      OAUTH_CONSUMER_SECRET = ""
      OAUTH_TOKEN = ""
      OAUTH_TOKEN_SECRET = ""
    end
  end
end
